*.class
*.def
*.labs
*.prios
*~

bin/
.cache/
/.metadata

/haskell-parsetree-normalize/src/org/sugarj/haskell/normalize/*.java
/haskell-parsetree-normalize/src/org/sugarj/haskell/normalize/*.java.dep
/test-hackage/src/org/spoofax/jsglr/tests/haskell/compare/*.java
!/test-hackage/src/org/spoofax/jsglr/tests/haskell/compare/CompareLibrary.java
/test-hackage/src/org/spoofax/jsglr/tests/haskell/compare/*.java.dep

/test-hackage/*.log

/test-hackage/hackage-data/*/
/test-hackage/hackage-data/*.csv
/test-hackage/all*.csv
/test-hackage/all*/
test-hackage/sample-data/*.pp
test-hackage/sample-data/*.csv
test-hackage/sample-data/*.expl
test-hackage/sample-data/*.impl
test-hackage/sample-data/*.old
test-hackage/sample-data/*.norm
test-hackage/sample-data/*.orig
test-hackage/sample-data/*.hi
test-hackage/sample-data/*.o


test-hackage/.dist-buildwrapper/sample-data/parallelComp.hs.norm.pp.impl.hs

test-hackage/sample-data/ViewPatternsExample

test-hackage/sample-data/ParallelListComprehensionExample

test-hackage/sample-data/RelaxedPolyRecExample
