*.class
*/test*/**/*.tbl
*.def
*.labs
*.prios
*~

bin/
.cache/
/.metadata

/haskell-parsetree-normalize/src/org/sugarj/haskell/normalize/*.java
/haskell-parsetree-normalize/src/org/sugarj/haskell/normalize/*.java.dep
/test-hackage/src/org/spoofax/jsglr/tests/haskell/compare/*.java
!/test-hackage/src/org/spoofax/jsglr/tests/haskell/compare/CompareLibrary.java
/test-hackage/src/org/spoofax/jsglr/tests/haskell/compare/*.java.dep

/test-hackage/*.log

/test-hackage/hackage-data/*/
/test-hackage/hackage-data/*.csv
/test-hackage/all*.csv
/test-hackage/all*/